_cgo_export.*
*.so
*.[568vq]
*.cgo1.go
*.o
_test
[568vq].out
i41.sublime-project
*.a
i41.sublime-workspace
*.cgo2.c
_obj
_testmain.go
# Folders
_cgo_gotypes.go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
_cgo_defun.c
# Architecture specific extensions/prefixes
*.exe